
@{
    ViewBag.Title = "_DeleteConfirmationPartial";
}

<div id="delete-confirmation">
        <p>Are you sure you want to delete this booking?</p>
        <button id="confirm-delete">Delete</button>
        <button id="cancel-delete">Cancel</button>
    </div>



