@{
    ViewBag.Title = "Admin Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to administrator page</h1>
        <p class="lead">Here you can view all the movies of our video club</p>
        <p><a href="@Url.Action("Index", "Movies")" class="btn btn-primary btn-md">Movies</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="userTitle">
            <p>
                View all the customers of the video club
            </p>
            <p><a href="@Url.Action("Index", "Customers")" class="btn btn-primary btn-md">Customers</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="activeRentsTitle">
            <p>View all the active movie bookings from customers</p>
            <p><a href="@Url.Action("Index", "MovieRents")" class="btn btn-primary btn-md">Active Bookings</a></p>
        </section>
    </div>
</main>

