@*@model  List<VideoClub.Models.ApplicationUser>*@
@model  List<VideoClub.Core.Entities.ApplicationUser>
@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                @Html.ActionLink("Booking History", "Index", "BookingHistory", new { UserName = user.UserName }, new { style = "margin-right: 100px;" })
                <p><a href="@Url.Action("NewBookingForm", "MovieRent", new { UserName = user.UserName })">New Booking &raquo;</a></p>
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back to admin page", "Index")
